<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">homepage</a>
        <a href="/blogs">blogs</a>
        <a href="/editblogs">editblogs</a>
    </nav>
    <h1>BLOGS</h1>

    
</body>
</html>