<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">homepage</a>
        <a href="/editblogs">add blog</a>
    </nav>
    <h1>HOMEPAGE</h1>

    <% blogs.forEach(record => { %>

        <p>----------------------------------------------------------------------------------------</p>

        <a href="/blogs/<%= record.id %>">
            <h1> <%= record.title %></h1>

            <h2> <%= record.name %></h2>

            <h5> <%= record.date_pub %></h5>

        </a>
    <% }) %>
</body>
</html>