<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">homepage</a>
        <a href="/blogs">blogs</a>
        <a href="/editblogs">editblogs</a>
    </nav>
    <h1>HOMEPAGE</h1>

    <% blogs.forEach(record => { %>

        <h1> <%= record.title %></h1>

        <h2> <%= record.name %></h2>

        <h3> <%= record.date_pub %></h3>


    <% }) %>
</body>
</html>